@model TBDAirline.Models.TrackingView

<div class="container border" style="padding:20px">


    <form asp-action="Index">

        <div class="form-group row" style="padding:5px">
            <div class="col-2">
                Tracking ID:
            </div>
            <div class="col-5">
                <input type="text" asp-for=TrackingID class="form-control" />
            </div>
        </div>

        <div class="form-group row" style="padding:5px">
            <div class="col-3">
                <input type="submit" value="Track" class="btn btn-primary" />
            </div>
        </div>

    </form>
</div>

@if (Model?.DepartureFlight != null)
{
    <h5>Total Amount:   $@Model.Payment.TotalAmount </h5>
    <h5>Passenger: </h5>
    <table class="table">
        <thead>
            <tr>
                <th class="col-1">Name</th>
                <th class="col-1">Email</th>
                <th class="col-1">Phone number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-1">@Model.Passenger.PassengerName</td>
                <td class="col-1">@Model.Passenger.Email</td>
                <td class="col-1">@Model.Passenger.PhoneNumber</td>
            </tr>
        </tbody>
    </table>
  @*  <div> Name: @Model.Passenger.PassengerName </div>
    <div> Email: @Model.Passenger.Email </div>
    <div> Phone number: @Model.Passenger.PhoneNumber</div>*@


    <h5>Departure Flight:</h5>
    <table class="table">
        <thead>
            <tr>
                <th class="col-1">FlightID</th>
                <th class="col-1">From</th>
                <th class="col-1">To</th>
                <th class="col-1">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-1">@Html.DisplayFor(model => model.DepartureFlight.FlightID)</td>
                <td class="col-1">@Html.DisplayFor(model => model.From)</td>
                <td class="col-1">@Html.DisplayFor(model => model.To)</td>
                <td class="col-1">@Html.DisplayFor(model => model.DepartureFlight.DepartureTime)</td>
            </tr>
        </tbody>
    </table>
}

@if (Model?.ReturnFlight != null)
{
    <h5>Returning Flight:</h5>
    <table class="table">
        <thead>
            <tr>
                <th class="col-1">FlightID</th>
                <th class="col-1">From</th>
                <th class="col-1">To</th>
                <th class="col-1">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-1">@Html.DisplayFor(model => model.ReturnFlight.FlightID)</td>
                <td class="col-1">@Html.DisplayFor(model => model.To)</td>
                <td class="col-1">@Html.DisplayFor(model => model.From)</td>
                <td class="col-1">@Html.DisplayFor(model => model.ReturnFlight.DepartureTime)</td>
            </tr>
        </tbody>
    </table>
}
