@model TBDAirline.Models.SearchModel



@*Book Function*@



@using (@Html.BeginForm("Index", "Book", FormMethod.Post))
{

    <div>
        Departure: <br />
        Date   @Model.FromDate <br />
        From City   @Model.FromCity <br />
        To City     @Model.ToCity <br />
    </div>


    <div class="container border" style="padding:20px">

        <table>
            <thead>
                <tr>
                    <td width="10%">Flight ID</td>
                    <td width="22%">Departure Time</td>
                    <td width="22%">Arrival Time</td>
                    <td width="15%">Price</td>
                    <td width="20%">Duration</td>
                    <td width="1%">Select</td>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Flight f in Model.DepartureFlight)
                    {
                        <tr>
                            <td>@f.FlightID</td>
                            <td>@f.DepartureTime</td>
                            <td>@f.ArrivalTime</td>
                            <td>@f.Price</td>
                            <td>@f.Duration</td>
                            <td><input name="DepartFlightID" type="radio" value="@f.FlightID" /></td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div>
        Return: <br />
        Date      @Model.ToDate <br />
        From City    @Model.ToCity <br />
        To City     @Model.FromCity <br />
    </div>



    <div class="container border" style="padding:20px">

        <table>
            <thead>
                <tr>
                    <td width="10%">Flight ID</td>
                    <td width="22%">Departure Time</td>
                    <td width="22%">Arrival Time</td>
                    <td width="15%">Price</td>
                    <td width="20%">Duration</td>
                    <td width="1%">Select</td>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Flight f in Model.ReturnFlight)
                    {
                        <tr>
                            <td>@f.FlightID</td>
                            <td>@f.DepartureTime</td>
                            <td>@f.ArrivalTime</td>
                            <td>@f.Price</td>
                            <td>@f.Duration</td>
                            <td><input name="ReturnFlightID" type="radio" value="@f.FlightID" /></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div>
        <input type="submit" value="Book" />
    </div>
}

